{% extends 'base.html' %}

{% block header %}
    {{ block.super }}
    {% include 'components/header/slider.html' %}
{% endblock header %}

{% block body %}
    <article class="card w-100 mb-5">
        <div class="card-body">
            <img class="rounded-circle col-1" src="{{object.author.profile.image.url}}" alt="" srcset="">
            <h5 class="card-title">{{object.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted mt-1">By <a href="{% url 'user-posts' post.author.username %}">{{object.author}}</a> On {{object.date_posted|date:"F d, Y"}}</h6>
            <p class="card-text">{{object.content}}</p>
            {% if object.author == user %}
                <a href="{% url 'post-update' object.id %}" class="btn btn-secondary btn-sm my-1 ">Update</a>
                <a href="{% url 'post-delete' object.id %}" class="btn btn-danger btn-sm my-1 ">Delete</a>
            {% endif %}
        </div>
    </article>
    <div class="col-lg-4 col-sm-12">
        {% include 'components/sidebar/sidebar.html' %}
    </div>
{% endblock body %}